<?xml version="1.0"?>
<config>
	<modules>
		<Addwish_Integrator>
			<version>0.2.0</version>
		</Addwish_Integrator>
	</modules>
	
	<frontend>

 
		<events>
<sales_quote_address_save_after>
<observers>
				<getbillingData>
						<class>Addwish_Integrator_Model_Observer</class>
						<method>getbillingData</method>
					</getbillingData>
				</observers>
</sales_quote_address_save_after>
		<controller_action_layout_load_before>
				<observers>
					<addwishHeader>
						<class>Addwish_Integrator_Model_Observer</class>
						<method>addwishHeader</method>
					</addwishHeader>
				</observers>
			</controller_action_layout_load_before>
			<customer_register_success>
				<observers>
		                    <inspectCartAddData>
		                        <class>Addwish_Integrator_Model_Observer</class>
		                        <method>customerRegisterData</method>
		                    </inspectCartAddData>
		                </observers>     
			</customer_register_success>
			<checkout_cart_add_product_complete>
				<observers>
		                    <inspectCartAddData>
		                        <class>Addwish_Integrator_Model_Observer</class>
		                        <method>inspectCartAddData</method>
		                    </inspectCartAddData>
		                </observers>     
			</checkout_cart_add_product_complete>
		</events>
		<routers>
			<integrator>
				<use>standard</use>
				<args>
					<module>Addwish_Integrator</module>
					<frontName>integrator</frontName>
				</args>
			</integrator>
		</routers>
		<layout>
			<updates>
				<integrator>
					<file>integrator.xml</file>
				</integrator>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<integrator>
				<use>admin</use>
				<args>
					<module>Addwish_Integrator</module>
					<frontName>integrator</frontName>
				</args>
			</integrator>
		</routers>
	</admin>
	<adminhtml>
		<menu>

			<integrator module="integrator">
				<title>addwish</title>
				<sort_order>1</sort_order>
				<children>
					<items module="integrator">
						<title>addwish Configuration</title>
						<sort_order>0</sort_order>
						<action>integrator/adminhtml_integrator/view</action>
					</items>
				</children>
			</integrator>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Addwish_Integrator>
							<title>Integrator Module</title>
							<sort_order>10</sort_order>
						</Addwish_Integrator>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<integrator>
					<file>integrator.xml</file>
				</integrator>
			</updates>
		</layout>
	</adminhtml>

	<global>
		<models>
			<integrator>
				<class>Addwish_Integrator_Model</class>
				<resourceModel>integrator_mysql4</resourceModel>
			</integrator>
			<integrator_mysql4>
				<class>Addwish_Integrator_Model_Mysql4</class>
				<entities>
					<integrator>
						<table>addwish</table>
					</integrator>
				</entities>
			</integrator_mysql4>
		</models>
		<resources>
			<addwish_setup>
				<setup>
					<module>Addwish_Integrator</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</addwish_setup>
			<addwish_write>
				<connection>
					<use>core_write</use>
				</connection>
			</addwish_write>
			<addwish_read>
				<connection>
					<use>core_read</use>
				</connection>
			</addwish_read>
		</resources>
		<blocks>
			<integrator>
				<class>Addwish_Integrator_Block</class>
			</integrator>
		</blocks>
		<helpers>
			<integrator>
				<class>Addwish_Integrator_Helper</class>
			</integrator>
		</helpers>
	</global>
</config>